@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Poppins", sans-serif;

  /*Paleta de colores*/
  --azul-claro: #33acfddc;
  --azul-oscuro: #0034ce;
  --azul-gris: #555f89;
  --cyan: #0082c3;
  --gris-oscuro: #545454;
  --blanco: #f7f6f2;
}
/* Navbar */
nav {
  background-color: var(--cyan);
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.nav-link,
.navbar-brand {
  color: var(--blanco);
  &:hover {
    color: var(--gris-oscuro);
  }
}
#sectionPresentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 5rem;
}
#fotoJorge {
  border-radius: 25% 50%;
  width: 20rem;
  margin: 3rem;
}
#textPresentacion {
  max-width: 40rem;
  text-align: justify;
}
#sectionTrabajos {
  background-color: var(--cyan);
  padding: 5rem;
}
.card {
  width: 18rem;
  height: auto;
}
.card-img-top {
  height: 10rem;
}
#tituloTrabajos {
  color: var(--blanco);
}
#sectionFormacion {
  background-color: var(--blanco);
}
#sectionFormacion h3 {
  font-weight: bold;
  text-align: center;
  padding: 2rem 0 0.5rem 0;
}
#sectionFormacion p {
  text-align: justify;
  padding: 1rem 0 1rem 0;
}
#imgCertificado {
  border: 1px solid black;
  border-radius: 5%;
}
#sectionContacto {
  background-color: var(--cyan);
  padding: 1rem;
}
#formularioContainer {
  max-width: 40rem;
  color: var(--blanco);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
}
.modal-header,
.modal-body {
  color: var(--gris-oscuro);
}
footer {
  background-color: var(--blanco);
  display: flex;
  flex-direction: column;
}
footer button i {
  font-size: 3rem;
  background-color: var(--cyan);
  padding: 0.3rem;
  border-radius: 25%;
}
@media (min-width: 996px) {
  #sectionPresentacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #sectionFormacion h3 {
    font-weight: bold;
    text-align: justify;
    padding: 2rem 0 1rem 0;
  }
  #sectionFormacion p {
    text-align: justify;
    padding: 1rem 0 0 0;
  }
  #contenedorCertificado {
    text-align: center;
  }
  #imgCertificado {
    max-width: 35rem;
  }
  footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
